img{
    width:350px;
}

body{
    text-align: center;
}

#mainscreen{
    background-color: aqua;
}

h1{
    color:red;
    font-family: sans-serif;
    font-weight: bold;
    font-style: oblique;
    font-variant: small-caps;
    font-size:40px;
}

h2{
    font-family: fantasy;
    font-weight: bolder;
    font-style: italic;
}

#phonescreen{
    background-color:aquamarine;
}


#laptopscreen{
    background-color: blueviolet;
}

#ipadscreen{
    background-color: coral;
}